body{
    background-color: lightgrey;
}
img{
    border: 2px solid black;
    border-radius: 50px;
}
h1,h3{
    color:firebrick;
    margin:10px;
}
p{
    margin-left:15px;    
}
.links{
    border: 2px solid black;
    border-radius: 8px;
    padding:5px;
    margin: 10px;
    color: darkblue;
    background-color:lightcoral; 
}

hr{
    background-color: lightgray;
    height:0px;
    border-style: dotted none none;   /*when all four dimensions are given, order is:) Top  Right  bottom  left  ||  when only three dimensions are given, order is:) Top  Right/left  bottom  ||  when only two dimensions are given, order is:) Top/bottom   right/left  */
    border-width: 5px;
    width:15%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Photo:hover{
    border: 5px solid brown; 
}
